/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  border: 1.2em
}

body {
  background: #06365f url("../images/bgtile.png");
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 100px;
}

head {
  position: absolute;
  left: 200px;
}

.logo {
  position: absolute;
  left: 600px;
}

.phones {
  position: relative;
  left: 65px;
  right: 200px;
  float: left;
}

.frame {
  position: relative;
  float: right;
  top: 100px;
  right: 625px;
}
